html, body{
    margin: 0%;
    padding: 0%;
}

.main{

    height: 100vh;
    display: grid;
    grid-template-rows: 60vh 1fr;
    row-gap: 10px;

    .header{
        grid-row: 1/2;
        background-color: wheat;
    }
    .cards{
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 10px;

        .card:nth-child(1){
            background-color: black;
        }
        .card:nth-child(2){
            background-color: green;
        }
        .card:nth-child(3){
            background-color: red;
        }
        .card:nth-child(4){
            background-color: blue;
        }
    }
}

@media (max-width: 768px) and (min-width: 468px){
    .main{

        .cards{
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows: repeat(2, 120px);
            row-gap: 10px;
          
    
            .card:nth-child(1){
                grid-row: 1/2;
                grid-column: 1/2;
        
            }

            .card:nth-child(2){     
             grid-row: 1/2;
             grid-column: 2/3;
            }
            .card:nth-child(3){
                grid-row: 2/3;
                grid-column: 1/2;
          
            }
            .card:nth-child(4){
                grid-row: 2/3;
                grid-column: 2/3;
            
            }
        }
    }
    

}

@media (max-width: 467px) {
    .main{

        .cards{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 240px);
          
    
            .card:nth-child(1){
                grid-row: 1/2;
                grid-column: 1/2;
        
            }

            .card:nth-child(2){     
             grid-row: 2/3;
             grid-column: 1/2;
            }
            .card:nth-child(3){
                grid-row: 3/4;
                grid-column: 1/2;
          
            }
            .card:nth-child(4){
                grid-row: 4/5;
                grid-column: 1/2;
            
            }
        }
    }
    

}
